<div class="container">
    <div class="row">
        <div class="col-md-16">
          <h1 align="center">Browse by Interest</h1>
          <hr>
          <!-- main container div -->
          <!-- carousel begins -->
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="/"><img class="slide-image" src="https://www.flairtradetravels.org/assets/travel_pic_1200x800.jpg" alt=""></a>
                            </div>
                            <%  @categories.each do |category| %>
                            <div class="item">
                                <%= image_tag "#{category.image_path}" %>
                            </div>
                            <% end %>
                        </div>

                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
