<h1><%= @category.name%></h1>


<% @category.experiences.each do |experience| %>
<p>Experience: <%= experience.title %></p>
<p>Cost: $<%= experience.cost %></p>

<%= button_to "Add to cart", carts_path(experience_id: experience.id) %>
<% end %>
